/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/

  /*font*/
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*reset default font - never shall Time New Roman be seen agan!*/

h1,
h3,
h5,
p,
li,
code,
abbr {
}

/*================
Layout
=================*/

/*Grid for sections*/

/*================
Header
=================*/

/*container box for header section - used for grid layout*/
header {
}

/*styling for header*/
h1 {
  width: 100%;
}
/*================
Nav Menu Bar
=================*/

/*container box for nav section - used for grid layout*/
nav {
}

/*styling for nav bar */
nav ul {
}

/*styling for menu buttons - outer*/
nav ul li {
}

/*styling for menu buttons - inner*/
.nav-button {
}
/*=============
Main Sections
==============*/

/*container box for main section - used for grid layout*/
main {
}

/*styling for the sections*/
section {
}

/*section heading*/
section > header {
}

/*section content*/
.section-content-box {
}

/*subsection*/
.subsection {
}

/*sub-section header*/
.sub-section-header-box {
}

/*sub-section content*/
.sub-section-content-box {
}

/*sub-section content list*/
.sub-section-content-box-list {
}

/*sub-section content list*/
.sub-section-content-box-mini-header {
}

/*================
Figures and Images
==================*/
#z-index-img {
}

z-index-img figcaption {
}
/*=====
Footer
======*/

/*container box for footer section - used for grid layout*/
footer {
}

/*styling for footer*/
#all-about-me {
}

/*================
Extra Font Styling
=================*/

/*code examples*/

/*Abbreviation styles*/

/*LOOK AT ME!...AKA highlighted text*/

/*Author link in footer*/

/*==========
Link styles
===========*/
a {
}

a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

/*================
The little touches
=================*/

/*Back to top*/

/*=============
Responsiveness
===============*/

/*Media queries for portable screen views - tablets and large phone screens*/

/*Media queries for portable screen views - small phone screens*/

/*=============
Accessibility
===============*/
/*Media queries for accessibility*/

/*=============
Print
===============*/
/*Media queries for print view*/
