/*========================
Declare variables for page
=========================*/
:root {
  /*colour scheme*/
  --text-dark-colour: #222222; /*black*/
  --text-light-colour: #fceef5; /*blush*/
  --heading-background-colour: #006ba6; /*darkcyan*/
  --section-background-colour: #fceef5; /*lavenderblush*/
  --footer-background-colour: #0496ff; /*blue*/
  --highlight-colour: #d7b9d5; /*thistle (lavendar)*/

  /*font*/

  --header-font: "Abel", "Trebuchet MS", sans-serif;
  --text-font: "Ubuntu", Verdana, sans-serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*reset default font - never shall Time New Roman be seen agan!*/

h1,
h3,
h5,
p,
li,
figcaption,
abbr {
  font-family: Arial, sans-serif;
}

/*================
Layout
=================*/

/*Grid for sections*/
body {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-areas:
    "header header header"
    "nav main main"
    "nav main main"
    "footer footer footer";
  margin: 0;
  background-color: var(--text-dark-colour, black);
}

/*====
Fonts
=======*/

/*styling for main header*/
h1 {
  width: 100%;
  text-align: center;
  line-height: 150%;
  font-size: 3.5rem;
  font-family: var(--header-font);
  color: var(--text-light-colour, white);
  text-shadow: -0.1rem -0.1rem 0.3rem var(--text-dark-colour, black),
    0.2rem 0.2rem 0.3rem var(--text-dark-colour, black);
}

/*styling for section header*/
h3 {
  font-size: 1.75rem;
  line-height: 150%;
  font-family: var(--text-font);
}

h5 {
  font-size: 1.25rem;
  line-height: 150%;
  font-family: var(--text-font);
}

p,
li {
  font-size: 1.1rem;
  font-family: var(--text-font);
}

figcaption,
abbr {
  font-size: 0.8rem;
  font-family: var(--text-font);
}

/*To make text in paragraph stand out but is not read differently on screenreader*/
.highlight {
  font-style: italic;
}

/*================
Header
=================*/

/*container box for header section - used for grid placement*/
body > header {
  grid-area: header;
  background-color: var(--heading-background-colour, darkcyan);
  padding: 0.75rem;
}

/*================
Nav Menu Bar
=================*/

/*container box for nav section - used for grid placement*/
nav {
  grid-area: nav;
  background-color: var(--heading-background-colour, darkcyan);
  background: linear-gradient(
    180deg,
    var(--heading-background-colour, darkcyan),
    var(--footer-background-colour, blue)
  );
  border-top: solid var(--text-dark-colour, black) 0.3rem;
  border-bottom: solid var(--text-dark-colour, black) 0.3rem;
  position: relative;
}

/*styling for nav bar */
nav ul {
  position: sticky;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*styling for menu buttons - outer*/
nav ul li {
  margin: 0.5rem;
  padding: 0.5rem;
}

/*styling for menu buttons - inner*/
.nav-button {
  padding: 0.5rem;
  border-bottom: solid transparent 0.2rem;
}

.nav-button a {
  color: var(--text-light-colour, white);
  text-decoration: none;
}

.nav-button:hover {
  border-bottom: solid var(--text-light-colour, white) 0.2rem;
  padding-left: 2rem;
  transition: all 1s;
}
/*=============
Main Sections
==============*/

/*container box for main section - used for grid placement*/
main {
  grid-area: main;
  background-color: var(--section-background-colour, lavenderblush);
  border: solid var(--text-dark-colour, black) 0.3rem;
  border-right: none;
  padding: 0.5rem;
}

/*styling for the sections*/
section {
  margin: 0.75rem;
}

/*section heading*/
section > header {
  margin: 0.2rem 0;
  border-bottom: solid var(--text-dark-colour, black) 0.2rem;
}

section p {
  padding: 0.25rem;
}

/*section content*/
.section-content-box {
  padding: 0.5rem 0;
}

.section-content-box ul {
  margin: 0.5rem;
  list-style: square;
}
/*subsection*/
.sub-section {
  margin-left: 1rem;
}

/*sub-section header*/
.sub-section-header-box {
  margin: 0.5rem 0;
}

/*sub-section content*/
.sub-section-content-box {
  padding-left: 1rem;
}

/*sub-section content list*/
.sub-section-content-box-list li {
  list-style: circle;
}

/*sub-section content list*/
.sub-section-content-box-mini-header {
  font-weight: bold;
  text-decoration: underline;
  line-height: 150%;
}

/*================
Code boxes
==================*/
code {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  line-height: 200%;
  border: 0.1rem dotted black;
  border-radius: 0.5rem;
  color: var(--text-light-colour, white);
  background-color: var(--text-dark-colour, black);
}

/*space around the code boxes when in a paragraph*/
p + code {
  margin-top: 0.5rem;
}

code + p {
  margin-top: 0.5rem;
}

/*====================
Overflow example boxes
=====================*/
/*set boxes with borders to be smaller than content*/
.overflow-box {
  border: dotted var(--text-dark-colour, black) 0.1rem;
  width: 20rem;
  height: 2rem;
}

#overflow-auto-box {
  overflow: auto;
}

#overflow-hidden-box {
  overflow: hidden;
}

#overflow-visible-box {
  margin-bottom: 1rem;
}

#overflow-x-box {
  display: block;
  white-space: nowrap;
  height: 3rem;
  overflow-x: scroll;
}

#overflow-y-box {
  overflow-y: scroll;
}

/*================
Figures and Images
==================*/
#z-index-img {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

#z-index-img img {
  border: solid var(--text-dark-colour, black) 0.2rem;
}

#z-index-img figcaption {
  margin-top: 0.2rem;
}
/*=====
Footer
======*/

/*container box for footer section - used for grid placement*/
footer {
  grid-area: footer;
  position: relative;
  background-color: var(--footer-background-colour, blue);
}

/*styling for footer*/
#all-about-me {
  text-align: center;
  line-height: 150%;
}

#all-about-me abbr {
  font-size: inherit;
}
/*==========
Link styles
===========*/
footer a {
  color: var(--text-dark-colour, black);
}

footer a:link {
  opacity: 1;
}

footer a:visited {
  opacity: 0.35;
}

footer a:focus {
  opacity: 0.5;
}

footer a:hover {
  color: var(--text-dark-colour, black);
  background-color: var(--section-background-colour, blush);
  border-radius: 0.25rem;
  opacity: 0.8;
}

footer a:active {
  opacity: 0.5;
}

/*================
The little touches
=================*/

/*Back to top - only required in mobile screen views when the menu is at the top of the page*/
.backtotop {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.2rem;
  font-size: 1.5rem;
}

/*In the dreaded case of image not found*/
#image:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  border: 0.1rem dashed var(--text-dark-colour);
  background-color: var(--footer-background-colour);
  z-index: 1;
  font-family: verdana;
  font-size: 0.8em;
  text-align: center;
  content: "Image of " attr(alt) " was not found";
}

/*=============
Responsiveness
===============*/

/*Media queries for portable screen views - tablets and large phone screens*/

@media screen and (max-width: 766px) {
}

/*display back-to-top*/

/*Media queries for portable screen views - small phone screens*/

@media screen and (max-width: 320px) {
}

/*=============
Accessibility
===============*/
/*Media queries for accessibility*/

/*remove animation for sliding menu buttons*/

/*=============
Print
===============*/
/*Media queries for print view*/
@media print {
  /*reset colours to plain black and white*/

  /*font size - change px to pt*/

  /*remove unneeded elements*/

  /*Layout - single column*/

  /*display links from footer*/
  footer a:link {
    margin: 0;
    display: block;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer .link a:link,
  footer .link a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
